{% extends 'layout.html' %} {%block initgame%}
<br> {% load static %}
<div class="row">
    <div class="col s7 push-s5 center">
        <span class="flow-text">
      <div class="row inicial" ondragover="drop(event)">
        {% csrf_token %}
        <img class="img_base">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row" ondragover="drop(event)">
        <img class="img_base">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row" ondragover="drop(event)">
        <img class="img_base">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row" ondragover="drop(event)">
        <img class="img_base">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row" ondragover="drop(event)">
        <img class="img_base">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row" ondragover="drop(event)">
        <img class="img_base">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row" ondragover="drop(event)">
        <img class="img_base">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="40px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row inicial" ondragover="drop(event)">
        <img class="img_base">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
        <img class="img_peon" draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"
          id='fichaRoja' src="{% static 'img/peon-rojo.png' %}" width="45px" alt="">
      </div>
    </span>
    </div>

    <div class="col s5 pull-s7" style="width: 30% !important;">
        <span class="flow-text">
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle">mood</i>
          <span class="title">Jugador Uno</span>
        <p>Movimiento: 1</p>
        <span class="title">Puntos: 8</span>

        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle">videogame_asset</i>
            <span class="title">Jugador Dos</span>
            <p>Movimiento: 1</p>
            <span class="title">Puntos: 2</span>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        </ul>
        </span>
    </div>
</div>
<script>
    var dragged;

    function dragIniciado(event) {
        dragged = event.target;
        event.target.style.opacity = .5;
    }

    function dragFinalizado(event) {
        event.target.style.opacity = "";
        //aqui post
        sendDataBack(event.target);
        console.log('dragFinalizado')
    }

    function dragEnter(event) {
        if (event.target.className == "row") {
            event.target.style.background = "yellow";
        }
    }

    function dragLeave(event) {
        if (event.target.className == "row") {
            event.target.style.background = "";
        }
    }

    function drop(event) {
        event.preventDefault();
        if (event.target.className == "row") {
            var x = event.target.innerHTML;
            var cont = 0;
            for (var i = 0; i < x.length; i++) {
                if (x.substring(i, i + 8) == "img_peon") {
                    cont++;
                }
            }
            if (cont < 6) {
                event.target.style.background = "";
                dragged.parentNode.removeChild(dragged);
                event.target.appendChild(dragged);
                console.log('Tiene ' + cont);
            } else {
                alert('Campo no puede tener mas de 6 peones');
            }

        } else if (event.target.className == "row inicial") {
            event.target.style.background = "";
            dragged.parentNode.removeChild(dragged);
            event.target.appendChild(dragged);
        }
    }

    function sendDataBack(event) {
        console.log(event)
        var objetoEnviar = {
            "contenido": "Hola erika desde FRONT"
        }
        $.post('/engine/', objetoEnviar, function(data, status) {

            var rta = JSON.parse(data)
            console.log('enviar datos a back', )

            if (rta['status'] == 1) {
                alert(rta['message'])
            }
        })
    }
</script>
<br>{%endblock%}