{% extends 'layout.html' %} {%block initgame%}
<br> {% load static %}
<div class="row">
    <div class="col s7 push-s5 center">
        <span class="flow-text">
      <div class="row inicial filaNegra1 filaRoja8" id="N1 R8" ondragover="drop(event)">
        {% csrf_token %}
        <img class="img_base filaNegra1 filaRoja8">
        <img class="img_peon" id="N1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="N1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="N1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="N1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="N1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="N1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">

      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">


      <div class="row filaNegra2 filaRoja7" id="N2 R7" ondragover="drop(event)">
        <img class="img_base filaNegra2 filaRoja7">
        <img class="img_peon" id="N2" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="R7" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
      </div>


      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row filaNegra3 filaRoja6" id="N3 R6" ondragover="drop(event)">
        <img class="img_base filaNegra3 filaRoja6">
        <img class="img_peon" id="N3" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="R6" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row filaNegra4 filaRoja5" id="N4 R5" ondragover="drop(event)">
        <img class="img_base filaNegra4 filaRoja5">
        <img class="img_peon" id="N4" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="R5" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row filaNegra5 filaRoja4" id="N5 R4" ondragover="drop(event)">
        <img class="img_base filaNegra5 filaRoja4">
        <img class="img_peon" id="N5" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="R4" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row filaNegra6 filaRoja3" id="N6 R3" ondragover="drop(event)">
        <img class="img_base filaNegra5 filaRoja3">
        <img class="img_peon" id="N6" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="R3" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row filaNegra7 filaRoja2" id="N7 R2" ondragover="drop(event)">
        <img class="img_base filaNegra7 filaRoja2">
        <img class="img_peon" id="N7" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-negro.png' %}" width="40px" alt="Negro">
        <img class="img_peon" id="R2" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
      </div>

      <img class="img_peon" src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

      <div class="row inicial filaNegra8 filaRoja1" id="N8 R1" ondragover="drop(event)">
        <img class="img_base filaNegra8 filaRoja1">
        <img class="img_peon" id="R1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
        <img class="img_peon" id="R1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
        <img class="img_peon" id="R1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
        <img class="img_peon" id="R1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
        <img class="img_peon" id="R1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
        <img class="img_peon" id="R1" draggable='true' ondragstart="dragIniciado(event)"
          ondragend="dragFinalizado(event)" src="{% static 'img/peon-rojo.png' %}" width="45px" alt="Rojo">
      </div>
    </span>
    </div>

    <div class="col s5 pull-s7" style="width: 30% !important;">
        <span class="flow-text">
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle">mood</i>
          <span class="title">Jugador Negro</span>
        <h5>Movimiento:
            <p id="movNegro"></p>
        </h5>
        <span class="title">Puntos: <p id="puntosNegros"></p></span>

        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle">videogame_asset</i>
            <span class="title">Jugador Rojo</span>
            <h5>Movimiento:
                <p id="movRojo"></p>
            </h5>
            <span class="title">Puntos: <p id="puntosRojos"></p></span>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        </ul>
        </span>

        <input type="text" name="ficha" value="R" id="color">
        <input type="text" name="fichainicial" value="0" id="posicion1">
        <input type="text" name="fichafinal" value="7" id="posicionfinal">
        <button type="button" name="button" onclick="Moverficha()">Moverse</button>

    </div>

</div>
<script>
    var dragged;
    var jugadaRojo = 0;
    var jugadaNegro = 0;
    var jugadaNegroValida = 0;
    var jugadaRojaValida = 0;
    var boolRojo = true;
    var boolNegro = true;
    var movPeon2 = 0;
    var contMovNegro = 0;
    var sumContNegro = 0;
    var arrayTotalFichasFila = []
    var arrayTotalFichasNegrasFila = []
    var arrayTotalFichasRojasFila = []

    var nombresFilas = ['N1 R8', 'N2 R7', 'N3 R6', 'N4 R5', 'N5 R4', 'N6 R3', 'N7 R2', 'N8 R1']

    function Moverficha() {
        var color = document.getElementById('color').value;
        var posInicial = document.getElementById('posicion1').value;
        var posFinal = document.getElementById('posicionfinal').value;

        var filaNegra = ["N1 R8", "N2 R7", "N3 R6", "N4 R5", "N5 R4", "N6 R3", "N7 R2", "N8 R1"];

        var filaRoja = filaNegra.reverse();

        if (color == "R") {
            var idFilainicial = filaRoja[posInicial];
            var idFilaFinal = filaRoja[posFinal];

            // eliminar peon

            var nodeFila = document.getElementById(idFilainicial);
            var idPeon = color + "" + (parseInt(posInicial) + 1);
            var peon = document.getElementById(idPeon);
            nodeFila.removeChild(peon);


            // agregar nuevo peon

            let imgNueva = '<img class="img_peon" id="R' + (parseInt(posFinal) + 1) + '" draggable="true"  ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)"  src="{% static ' +
                img / peon - rojo.png + ' %}" width="45px" alt="Rojo">';
            let filaFinal = document.getElementById(idFilaFinal);
            filaFinal.innerHTML += imgNueva;


        } else {
            // la ficha es negra
            var filaNegra2 = ["N1 R8", "N2 R7", "N3 R6", "N4 R5", "N5 R4", "N6 R3", "N7 R2", "N8 R1"];

            var idFilainicialN = filaNegra2[posInicial];
            var idFilaFinalN = filaNegra2[posFinal];

            // eliminar peon

            var nodeFilaN = document.getElementById(idFilainicialN);
            var idPeonN = color + "" + (parseInt(posInicial) + 1);
            var peonN = document.getElementById(idPeonN);
            nodeFilaN.removeChild(peonN);

            // agregar nuevo peon

            let imgNuevaN = '<img class="img_peon" id="N' + (parseInt(posFinal) + 1) + '" draggable="true"  ondragstart="dragIniciado(event)" ondragend=" (event)"  src="{% static ' +
                img / peon - negro.png + ' %}" width="40px" alt="Negro">';
            let filaFinalN = document.getElementById(idFilaFinalN);
            filaFinalN.innerHTML += imgNuevaN;

        }

    }


    function dragIniciado(event) {
        dragged = event.target;
        event.target.style.opacity = .5;
        console.log('dragIniciado')
    }

    function dragFinalizado(event) {
        event.target.style.opacity = "";
        if (jugadaNegro >= 0 && jugadaNegroValida == 0) {
            if (jugadaNegro > 0) {
                jugadaNegro--;
            } else {
                jugadaNegro = 0;
            }
        }

        if (jugadaRojo >= 0 && jugadaRojaValida == 0) {
            if (jugadaRojo > 0) {
                jugadaRojo--;
            } else {
                jugadaRojo = 0;
            }
        }
        if (jugadaNegro >= 1) {
            boolRojo = true;
            boolNegro = false;
        }
        if (jugadaRojo >= 1) {
            boolRojo = false;
            boolNegro = true;
        }

        contMovNegro = jugadaNegro;
        if (contMovNegro > 0) {
            contMovRojo = 0;
            contMovNegro++;
        }

        var contMovRojo = jugadaRojo;
        if (contMovRojo > 0) {
            contMovNegro = 0;
            contMovRojo++;
        }

        document.getElementById('movRojo').innerHTML = contMovRojo;
        document.getElementById('movNegro').innerHTML = contMovNegro;

        jugadaRojaValida = 0;
        jugadaNegroValida = 0;

        evaluarMovimientos();
        //aqui post
        posicionesPeones();
        sendDataBack(event.target);
        CalcularPuntos();
        console.log('dragFinalizado');

    }

    function dragEnter(event) {
        if (event.target.className == "row") {
            event.target.style.background = "yellow";
        }
    }

    function dragLeave(event) {
        if (event.target.className == "row") {
            event.target.style.background = "";
        }
    }

    function drop(event) {
        event.preventDefault();
        if (event.target.className == "row inicial filaNegra8 filaRoja1" || event.target.className ==
            "row inicial filaNegra1 filaRoja8") {
            devolverFichas(30);

        } else if (event.target.className.includes("row")) {
            devolverFichas(6);

        } else {
            console.log('No puede tener mas de 6 peones');
        }
    }

    function evaluarMovimientos() {
        if (dragged.alt == 'Rojo' && boolRojo == true) {
            jugadaRojo++;
            boolNegro = false;
            boolRojo = true;
            document.getElementById('movRojo').innerHTML = jugadaRojo;
            document.getElementById('movNegro').innerHTML = 0;
        }
        if (dragged.alt == 'Negro' && boolNegro == true) {
            jugadaNegro++;
            boolRojo = false;
            boolNegro = true;
            document.getElementById('movRojo').innerHTML = 0;
            document.getElementById('movNegro').innerHTML = jugadaNegro;
        }
    }

    function devolverFichas(limite) {
        var x = event.target.innerHTML;
        var a = event.target;
        var cont = 0;
        var fila = 0;
        var posFila = 0;
        if (dragged.alt == "Negro" && boolNegro == true && jugadaNegro <= 2) {

            for (var i = 0; i < x.length; i++) {
                if (x.substring(i, i + 8) == "img_peon") {
                    cont++;
                }
            }
            movPeon2 = cont;

            for (var i = 0; i < x.length; i++) {
                if (x.substring(i, i + 9) == "filaNegra") {
                    posFila = i;
                }
            }

            fila = x.substring(posFila + 9, posFila + 10);
            idPeon = dragged.id;
            if (cont < limite && fila >= idPeon[1]) {
                event.target.style.background = "";
                dragged.parentNode.removeChild(dragged);
                dragged.id = "N" + fila;
                event.target.appendChild(dragged);
                jugadaRojaValida = 0;
                jugadaNegroValida = 1;
            }
        }

        if (dragged.alt == "Rojo" && boolRojo == true && jugadaRojo <= 2) {
            for (var i = 0; i < x.length; i++) {
                if (x.substring(i, i + 8) == "img_peon") {
                    cont++;
                }
            }
            movPeon2 = cont;

            for (var i = 0; i < x.length; i++) {
                if (x.substring(i, i + 8) == "filaRoja") {
                    posFila = i;
                }
            }

            fila = x.substring(posFila + 8, posFila + 9);
            idPeon = dragged.id;
            if (cont < limite && fila >= idPeon[1]) {
                event.target.style.background = "";
                dragged.parentNode.removeChild(dragged);
                dragged.id = "R" + fila;
                event.target.appendChild(dragged);
                jugadaRojaValida = 1;
                jugadaNegroValida = 0;
            }
        }

    }

    function posicionesPeones() {
        arrayTotalFichasFila = []
        nombresFilas.forEach(fila => {
            var cont1 = 0;
            var x = document.getElementById(fila).innerHTML;
            for (var i = 0; i < x.length; i++) {
                if (x.substring(i, i + 3) == "id=") {
                    cont1++;
                }
            }
            arrayTotalFichasFila.push(cont1)
        })
        console.log('arrayTotalFichasFila', arrayTotalFichasFila)
    }

    function contNegro(id) {
        var contNegro = 0;
        var x = document.getElementById(id).innerHTML;
        for (var i = 0; i < x.length; i++) {
            if (x.substring(i, i + 5) == 'id="N') {
                contNegro++;
            }
        }
        return contNegro;
    }


    function contTodos(id) {
        var contTodos = 0;
        var x = document.getElementById(id).innerHTML;
        for (var i = 0; i < x.length; i++) {
            if (x.substring(i, i + 3) == "id=") {
                contTodos++;
            }
        }
        return contTodos;
    }

    function contRojo(id) {
        var contRojo = 0;
        var x = document.getElementById(id).innerHTML;
        for (var i = 0; i < x.length; i++) {
            if (x.substring(i, i + 5) == 'id="R') {
                contRojo++;
            }
        }
        return contRojo;
    }


    function CalcularPuntos() {
        var cont5Negro = contNegro('N5 R4');
        var cont6Negro = contNegro('N6 R3');
        var cont7Negro = contNegro('N7 R2');
        var cont8Negro = contNegro('N8 R1');


        var cont1Rojo = contRojo('N1 R8');
        var cont2Rojo = contRojo('N2 R7');
        var cont3Rojo = contRojo('N3 R6');
        var cont4Rojo = contRojo('N4 R5');


        var resultadoNegro = 5 * parseInt(cont8Negro) + 3 * parseInt(cont7Negro) + 2 * parseInt(cont6Negro) + 1 * parseInt(cont5Negro);
        var resultadoRojo = 5 * parseInt(cont1Rojo) + 3 * parseInt(cont2Rojo) + 2 * parseInt(cont3Rojo) + 1 * parseInt(cont4Rojo);

        document.getElementById('puntosRojos').innerHTML = resultadoRojo;
        document.getElementById('puntosNegros').innerHTML = resultadoNegro;

    }

    function contarFichasNegras() {
        arrayTotalFichasNegrasFila = []
        nombresFilas.forEach(fila => {
            arrayTotalFichasNegrasFila.push(contNegro(fila))
        })
        console.log('arrayTotalFichasNegrasFila', arrayTotalFichasNegrasFila)
    }

    function contarFichasRojas() {
        arrayTotalFichasRojasFila = []
        nombresFilas.forEach(fila => {
            arrayTotalFichasRojasFila.push(contRojo(fila))
        })
        console.log('arrayTotalFichasRojasFila', arrayTotalFichasRojasFila)
    }

    function sendDataBack(event1) {
        var cont = 0;
        console.log(event1)
        var dataPeon = event1.outerHTML;
        var idPeon = '';
        var tabla = event.target.offsetParent.innerHTML;
        var fila = event.target.parentElement.innerHTML;
        console.log(fila.length);

        for (var i = 0; i < fila.length; i++) {
            if (fila.substring(i, i + 8) == "img_peon") {
                cont++;
            }
        }

        for (var i = 0; i < dataPeon.length; i++) {
            if (dataPeon.substring(i, i + 3) == "id=") {
                idPeon = dataPeon.substring(i + 4, i + 6);
            }
        }

        contarFichasNegras()
        contarFichasRojas()

        console.log('Total todos: ', arrayTotalFichasFila)
        var objEnviar2 = {
            totalTodosFila: [],
            totalNegrosFila: [],
            totalRojosFila: []
        }

        objEnviar2.totalTodos = arrayTotalFichasFila;
        objEnviar2.totalNegrosFila = arrayTotalFichasNegrasFila;
        objEnviar2.totalRojosFila = arrayTotalFichasRojasFila;

        /*objetoEnviar = {
            "contenidoPeon": dataPeon,
            "id": idPeon,
            "Num_Peones_Fila": cont - 1,
            "tablaPeones": tabla,
            "totalTodos": {
                arrayTotalFichasFila
            },
            "fila1Negro": cont1Negro,
            "fila2Negro": cont2Negro,
            "fila3Negro": cont3Negro,
            "fila4Negro": cont4Negro,
            "fila5Negro": cont5Negro,
            "fila6Negro": cont6Negro,
            "fila7Negro": cont7Negro,
            "fila8Negro": cont8Negro,
            "fila1Rojo": cont1Rojo,
            "fila2Rojo": cont2Rojo,
            "fila3Rojo": cont3Rojo,
            "fila4Rojo": cont4Rojo,
            "fila5Rojo": cont5Rojo,
            "fila6Rojo": cont6Rojo,
            "fila7Rojo": cont7Rojo,
            "fila8Rojo": cont8Rojo,
        }*/

        console.log('objetoEnviar', objEnviar2)

        $.post('/engine/', objEnviar2, function(data, status) {

            var rta = JSON.parse(data)
            console.log('enviar datos a back', )

            if (rta['status'] == 1) {
                alert(rta['message'])
            }
        })
    }
</script>
<br>{%endblock%}