{% extends 'layout.html' %}{%block initgame%}
<br> {% load static %}
<div class="row">
    <div class="col s7 push-s5">
        <span class="flow-text">
            <div class="row" ondragleave="dragLeave(event)">
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true'  ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true'  ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true'  ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
                </div>
            </div>

            <img src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

            <div class="row" ondragover="drop(event)" >
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
                </div>
                <div class="col s1" id="peon1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
            </div>
            <img src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

            <div class="row" ondragover="drop(event)">
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
                </div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
            </div>

            <img src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

            <div class="row" ondragover="drop(event)">
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
                </div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
            </div>

            <img src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

            <div class="row" ondragover="drop(event)">
              <div class="col s1">
                <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
              </div>
              <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
            </div>

            <img src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

            <div class="row" ondragover="drop(event)">
              <div class="col s1">
                <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
              </div>
              <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
            </div>

            <img src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

            <div class="row" ondragover="drop(event)">
              <div class="col s1">
                <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-negro.png' %}" width="20px" alt="">
              </div>
              <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1"></div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
            </div>

            <img src="{% static 'img/barra.png' %}" width="370px" height="10px" alt="">

            <div class="row" ondragover="drop(event)">
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
                <div class="col s1">
                  <img draggable='true' ondragstart="dragIniciado(event)" ondragend="dragFinalizado(event)" id='fichaNegra' src="{% static 'img/peon-rojo.png' %}" width="20px" alt="">
                </div>
            </div>
        </span>
    </div>
    <div class="col s5 pull-s7">
        <span class="flow-text">
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle">mood</i>
                    <span class="title">Jugador Uno</span>
        <p>Movimiento: 1</p>
        <span class="title">Puntos: 8</span>

        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle">videogame_asset</i>
            <span class="title">Jugador Dos</span>
            <p>Movimiento: 1</p>
            <span class="title">Puntos: 2</span>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        </ul>
        </span>
    </div>
</div>

<script>
    console.log('Hola erika....')
    var dragged;

    function dragIniciado(event) {
        dragged = event.target;
        event.target.style.opacity = .5;
        console.log('dragIniciado')
    }

    function dragFinalizado(event) {
        event.target.style.opacity = "";
        console.log('dragFinalizado')
    }

    function dragEnter(event) {
        console.log('dragEnter', event.target.className)
        if (event.target.className == "row") {
            event.target.style.background = "yellow";
        }
    }

    function dragLeave(event) {
        console.log('dragLeave', event.target.className)
        if (event.target.className == "row") {
            event.target.style.background = "";
        }
    }

    function drop(event) {
        console.log('drop')
        event.preventDefault();
        // move dragged elem to the selected drop target
        console.log('drop', dragged)
        if (event.target.className == "row") {
            event.target.style.background = "";
            dragged.parentNode.removeChild(dragged);
            //document.getElementById("peon1").appendChild(dragged);
            //console.log(event.target);
            event.target.appendChild(dragged);
        }
    }
</script>
<br>{%endblock%}
