{% extends 'layout.html' %}{%block main%}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">LINJA</h1>
        <div class="row center">
            <h5 class="header col s12 light">Compite en una carrera por hacer llegar tus fichas a la zona del contrincante</h5>
        </div>
        <div class="row center">
            <a class="btn-floating btn-large waves-effect waves-light orange" href="/init-game"><i class="material-icons">play_arrow</i></a>
        </div>
        <br><br>
    </div>
</div>
{%endblock%}